extends layout

block content
  h2 Creating a new contact
  form(action="/contacts/create", method="post")
    input(type="text", name="yonghu")
    input(type="submit")

  h2 Contacts

  ul
  each contact in contacts
    li
      = contact.yonghu
      | &nbsp;
      | (
      a(href="/contacts/" + contact.id + "/destroy") Destroy
      | )

